<h1 class="main-title">About Us</h1>

<div class="about-info-container">
  <h3>Who We Are</h3>
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
</div>

<div class="about-info-container">
  <h3>Our History</h3>
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
</div>

<div class="about-info-container">
  <h3>Staff</h3>
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
</div>

<div class="about-info-container">
  <h3>Locations</h3>
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
  Kam is so cool. Kam is the coolest. Kam is a 10 out of 10!
</div>
