<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="home-page" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="about-page" class="nav-link">About Us</a></li>
      <li class="nav-item"><a href="store" class="nav-link">Shop Products</a></li>
      <li class="nav-item"><a href="shopping-cart" class="nav-link">Shopping Cart</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
