<div class="col">
  <div class="card shadow-sm">

    <div class="card-body" *ngIf = "storeItem">
      <div class="thumbnail-container">
        <img class="thumbnail-image" src="{{ storeItem.itemPicture }}" alt="{{ storeItem.name }}">
      </div>
      <p class="card-text-item">{{ storeItem.name }}</p>
      <p class="card-text-price">${{ storeItem.price }}</p>
      <br>
      <div class="view-button">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
      </div>
    </div>
  </div>
</div>
